.eager-escapes__welcome{
    width:80%;
    height:110vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem 5rem 2rem 5rem;
    margin: auto;

}
.eager-escapes__welcome h1{
    color: black;
    padding-top: 5rem ;
    font-size: 48px;

}
.eager-escapes__welcome hr{
    width: 60%;
    height:3px;
    background-color: gray;

    margin-top: 2rem;
    margin-bottom: 3rem;
}
.eager-escapes__welcome p{
    width: 60% ;
    font-size: 20px;
    line-height: 35px;
}
.eager-escapes__welcome-button{
    width: 20%;
    height:50px;
    margin-top: 5rem;
    background-color:  #B7521E;
    border:none;

    font-size: 15px;
    font-weight: 500;
    color: #fff;
}